
        /* Big Image  */
        .big-image {
            position: absolute;
            bottom: 0;
            left: 20%;
        }
        /* Falling Images */
        .falling-image{
            position: absolute;
            width: 50px;
            animation: fall 2s linear infinite;
        }

               /* start positions */
               .capsicum     { left: 35%; animation-delay: 0.6s; }
               .cauliflower { left: 40%; animation-delay: 0.5s; }
               .pumpkin1   { left: 45%; animation-delay: 0.8s; }
               .tomato     { left: 48%; animation-delay: 0.6s; }
               .potato      { left: 27%; animation-delay: 0.7s; }
               .pumpkin2   { left: 30%; animation-delay: 0.8s; }
               .eggplant    { left: 35%; animation-delay: .9s; }
        @keyframes fall {
            0% { top: -50px; opacity: 1; }
            100% { top: 60%; opacity: 0; }
        }