
        /* Container for positioning */
        .animated-div {
           
            position: relative;
            width: 900px;
            height: 500px;
        }
        /* Big Image (Basket) */
        .big-image {
            position: absolute;
            bottom: 0;
            left: 20%;
        }
        /* Falling Images (Apples) */
        .falling-image{
            position: absolute;
            width: 50px;
            animation: fall 2s linear infinite;
        }

        /* start positions */
        .capsicum     { left: 35%; animation-delay: 0.6s; }
        .cauliflower { left: 40%; animation-delay: 0.5s; }
        .pumpkin1   { left: 45%; animation-delay: 0.8s; }
        .tomato     { left: 50%; animation-delay: 0.6s; }
        .potato      { left: 55%; animation-delay: 0.7s; }
        .pumpkin2   { left: 30%; animation-delay: 0.8s; }
        .eggplant    { left: 35%; animation-delay: .1s; }
        .full    { left: 65%; animation-delay: .6s; }
        .full-div{display: grid;
            grid-template-columns: repeat(2,1fr);
            align-items: center;
            justify-content: space-evenly;
        padding: 10px;
    background-color: rgb(5, 150, 5);}
      .h2{}
        /*animation */
        @keyframes fall {
            0% { top: -50px; opacity: 1; }
            100% { top: 60%; opacity: 0; }
        }